{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_reset_password.css' %}">
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}

	<!--Password reset sent done-->
	<div class="reset-container">
  	<h2 class="font-weight-bold">Wysłano email do zresetowania hasła</h2>
		<hr>
		<p>Wysłaliśmy Ci instrukcje dotyczące ustawiania hasła, jeśli konto istnieje na podany przez Ciebie adres e-mail. Powinieneś je wkrótce otrzymać.<br><br></p>
           <div class="button-container">
            <a href="/"><button class="btn user-login-button">Powrót do strony głównej</button></a>
            </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}