
body, h1, h2, h5, p {
    margin: 10px;
    padding: 0px;
    color: #ddd;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.card {
    background-color: rgba(48, 46, 43,0.87);
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}


.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.card img {
    max-width: 100%;
    height: auto;
}


.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}


.card ul {
    list-style-type: circle;
    margin-left: 1px;
}


.info-block {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.card img {
    max-width: 100%;
    max-height: 150px;
    height: auto;
}
.btn {
    background-color: rgba(48, 46, 43,0.87);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}
#TODO zmiana tego css oraz html