#hint_id_new_password1 ul li{
    color: black;
    font-weight:bold;
}

.reset-container
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 800px;
    background-color: rgba(48, 46, 43,0.87);
    opacity:0.96;
    color: white;
    padding: 40px;
    border-radius: 5px;
}

.button-container{
    display: flex;
     /*height: 60px;*/

}

.button-container a {
    text-decoration: none;
    padding: 10px 10px;
}

.user-login-button{

    display: flex;
    color: white;
    background-color: green !important;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    opacity: 90%;
    margin-bottom: 15px;

}

.user-login-button:hover {
    display: flex;
    color: white !important;
    background-color: green !important;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    opacity: 100%;
}

#hint_id_new_password1 {
    color: white;
}

.btn-short {
    width: 30%;
}