{% load i18n %}

{% blocktrans %}<h3>Prośba o reset hasła dla użytkownika: {% endblocktrans %}{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},</h3>

{% blocktrans %}
    <p>Otrzymujesz tę wiadomość e-mail, ponieważ Ty (lub ktoś podszywający się pod Ciebie)</p>
    <p>poprosił o zresetowanie hasła w witrynie {{ domain }}. Jeśli nie</p>
    <p>chcesz resetować swojego hasła, zignoruj tę wiadomość.</p>
{% endblocktrans %}

{% blocktrans %}
    <h4>Aby zresetować swoje hasło, proszę kliknąć poniższy link lub skopiować i wkleić go
    do swojej przeglądarki internetowej:</h4>
{% endblocktrans %}
    {% url 'password_reset_confirm' uid token as password_reset_confirm_url %}
    <a rel="noreferrer" href="{{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}">
    {{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}
    </a>

{% blocktrans %}Twoja nazwa użytkownika, w razie gdybyś zapomniał:{% endblocktrans %} {{ user.get_full_name }}


{% blocktrans %}
    <p>Pozdrowienia od zespołu {% endblocktrans %},{{ site_name }} {% blocktrans %}!{% endblocktrans %}</p>


{# This is used by django.contrib.auth #}