{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="login-container">
        <section class="login-form">
            <h2>Edytowanie komory dymowej</h2>
            <form method="POST">
                {% csrf_token %}
                <div>
                    {{ form|crispy }}
                </div>
                <div class="login-button-container">
                    <button class="btn login-button-down" type="submit">Edytuj</button>
                </div>
            </form>
            <button class="btn login-button-down" onclick="window.location.href = '{% url 'home' %}'">Wróć na strone głowna</button>
        </section>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}